@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
span[data-localization-key="paginationRowText__displaying"] {
  @layer text-foreground;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

html {
  background-color: var(--background);
}

body {
  color: snow;
  background: var(--background) !important;
  display: flex;
  flex-direction: column;
  flex: 1;
  pointer-events: auto !important;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e1e24;
  border-radius: 0.5rem;
}
.cl-card > [class^="cl-internal"] {
  opacity: 0.01;
}
ol > li {
  list-style: decimal;
}
ul > li {
  list-style: disc;
}

tr {
  border-bottom: 1px solid var(--border);
}
td,
th {
  padding: 0.5rem;
}
thead {
  background-color: var(--surface-2);
}

thead > tr {
  border-bottom: none;
}
:root {
  --ck-colors-chakra-body-bg: var(--background);
  --ck-colors-chakra-border-color: var(--border);
}

@layer base {
  :root {
    /* --background: #070809; */
    --background: #131416;
    /* --background-accent: #1a1c20; */
    --background-accent: #192245;
    --background-accent-2: #512163;
    /* --surface-1: #141619; */
    --surface-gradient-from: #0f1015;
    --surface-gradient-to: #14151c;

    --surface-1: #1d1e21;

    /* --surface-2: #30373d; */
    --surface-2: #27282c;
    --surface-3: #484c53;
    --foreground: #fafafa;

    --muted: var(--surface-1);
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: #11112238;
    --accent-foreground: 210 40% 98%;

    --popover: #00000000;
    --popover-foreground: 215 20.2% 65.1%;

    --border: var(--surface-3);
    --input: var(--surface-1);

    --card: var(--surface-1);
    --card-foreground: #fafafa;

    /* --primary: #4078f2; */
    --primary-foreground: 222.2 47.4% 1.2%;

    /* --secondary: #2ec88a; */
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--surface-1);

    --radius: 0.5rem;
  }

  .dark {
    /* --background: #070809; */
    --background: #0a0b0e;
    /* --background-accent: #1a1c20; */
    --background-accent: #111e26;
    --background-accent-2: #512163;
    /* --surface-1: #141619; */
    --surface-1: #1e2026;
    /* --surface-2: #30373d; */
    --surface-2: #2e313c;
    --surface-3: #484c53;
    --foreground: #fafafa;

    --muted: var(--surface-1);
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: #11112238;
    --accent-foreground: 210 40% 98%;

    --popover: #00000000;
    --popover-foreground: 215 20.2% 65.1%;

    --border: var(--surface-3);
    --input: var(--surface-1);

    --card: var(--surface-1);
    --card-foreground: #fafafa;

    --primary: #49e2e7;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: #4299e8;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--surface-1);

    --radius: 0.5rem;
  }
  span > .icon {
    color: var(--card);
  }
}

@layer base {
  body {
    @layer text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
.cl-userButtonPopoverCard,
.cl-modalContent,
.cl-organizationSwitcherPopoverCard {
  @layer backdrop-blur-lg bg-opacity-20;
}

.cl-userButtonPopoverActionButtonIcon,
.cl-userButtonPopoverActionButtonText {
  color: var(--muted-foreground) !important;
}

:root {
  --colorText: #fafafa;
  --colorBackground: #141619;
  --colorPrimary: #4299e8;
  --colorInputText: #fafafa;
}

.cl-tabButton {
  @layer text-foreground;
}

.cl-tabPanel {
  @layer text-foreground, [& *]:text-foreground;
}

.cl-tabListContainer {
  @layer text-foreground;
}

.cl-tagInputContainer {
  @layer [&>input]:text-foreground [&>input]:bg-transparent bg-transparent border-border text-foreground;
}

.cl-formFieldInput {
  @layer text-foreground bg-transparent border-border;
}

.cl-selectButton {
  @layer bg-transparent border-border text-foreground;
}

.cl-tagPillContainer {
  @layer bg-input;
}

.cl-socialButtonsIconButton {
  border-color: #30373d;
  background-color: #141619;
  border-radius: 0.5rem;
  color: white;
}

.cl-userButtonPopoverCard {
  @layer backdrop-blur-lg bg-opacity-20 drop-shadow-lg;
}

.cl-userButtonPopoverActionButtonIcon {
  @layer text-neutral-200;
}

.cl-userButtonPopoverActionButton {
  @layer hover:bg-neutral-700 bg-opacity-0;
}

.cl-card {
  background-color: rgba(100, 100, 100, 0.1) !important;
}

.cl-userButtonPopoverFooter {
  @layer hidden;
}

.cl-modalContent {
  @layer backdrop-blur-lg bg-opacity-20 drop-shadow-lg;
}

.cl-organizationSwitcherPopoverCard {
  @layer backdrop-blur-lg bg-opacity-20 [&>*]:text-foreground z-100;
}

.cl-organizationSwitcherPopoverActionButtonIcon {
  @layer text-neutral-200;
}

.cl-organizationSwitcherPopoverFooter {
  @layer hidden;
}

.cl-rootBox {
  @layer items-center flex;
}
