@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
span[data-localization-key="paginationRowText__displaying"] {
  @apply text-foreground;
}
span {
  @apply !text-foreground;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

html {
  background-color: var(--background);
}

body {
  color: snow;
  background: var(--background) !important;
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e1e24;
  border-radius: 0.5rem;
}
.cl-card > [class^="cl-internal"] {
  opacity: 0.01;
}

:root {
  --ck-colors-chakra-body-bg: var(--background);
}

@layer base {
  :root {
    /* --background: #070809; */
    --background: #131416;
    /* --background-accent: #1a1c20; */
    --background-accent: #161d3a;
    --background-accent-2: #512163;
    /* --surface-1: #141619; */
    --surface-1: #1d1e21;
    /* --surface-2: #30373d; */
    --surface-2: #27282c;
    --surface-3: #484c53;
    --foreground: #fafafa;

    --muted: var(--surface-1);
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: #11112238;
    --accent-foreground: 210 40% 98%;

    --popover: #00000000;
    --popover-foreground: 215 20.2% 65.1%;

    --border: var(--surface-3);
    --input: var(--surface-1);

    --card: var(--surface-1);
    --card-foreground: #fafafa;

    --primary: #4078f2;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: #2ec88a;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--surface-1);

    --radius: 0.5rem;
  }

  .dark {
    /* --background: #070809; */
    --background: #131416;
    /* --background-accent: #1a1c20; */
    --background-accent: #161d3a;
    --background-accent-2: #512163;
    /* --surface-1: #141619; */
    --surface-1: #1d1e21;
    /* --surface-2: #30373d; */
    --surface-2: #27282c;
    --surface-3: #484c53;
    --foreground: #fafafa;

    --muted: var(--surface-1);
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: #11112238;
    --accent-foreground: 210 40% 98%;

    --popover: #00000000;
    --popover-foreground: 215 20.2% 65.1%;

    --border: var(--surface-3);
    --input: var(--surface-1);

    --card: var(--surface-1);
    --card-foreground: #fafafa;

    --primary: #4078f2;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: #2ec88a;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: var(--surface-1);

    --radius: 0.5rem;
  }
  span > .icon {
    color: var(--card);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
